<nav class="navbar navbar-expand bg-warning navbar-light shadow-lg" style="padding: 50px;">
  <div>
    <a class="navbar-brand p-auto " routerLink="">M2L</a>
  </div>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">locau</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="locau">lister</a></li>
          <li><a class="dropdown-item" routerLink="add-locau">ajouter</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Club</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="clubsport">lister</a></li>
          <li><a class="dropdown-item" routerLink="add-clubsport">ajouter</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">news</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="newsletter">lister</a></li>
          <li><a class="dropdown-item" routerLink="add-newsletter">ajouter</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">salle</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="salle">lister</a></li>
          <li><a class="dropdown-item" routerLink="add-salle">ajouter</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">event</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="competition">lister</a></li>
          <li><a class="dropdown-item" routerLink="add-competition">ajouter</a></li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">user</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="user">lister</a></li>
          <li><a class="dropdown-item" routerLink="add-user">ajouter</a></li>
        </ul>
      </li>
    </ul>
</nav>
